body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  position: relative; /* Adicionado para posicionamento relativo */
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#preview {
  display: none;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #007bff;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

}

button:hover {
  background-color: #00993b;
}

a {
  color: #fe1818;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #830000;
}

.logout {
  margin-top: 20px;
  font-size: 14px;
}

.fa-solid {
  color: rgb(0, 0, 0);
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

/* Estilos para o modal de confirmação */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal button {
  margin: 10px;
}