* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/imagens/fundo.jpg);
  background-repeat: no-repeat;
  /* Evita a repetição da imagem de fundo */
  background-size: cover;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 20px;
  /* Adicionando margem abaixo da logo */
  color: #383eab;

}

nav {
  display: flex;
  flex-direction: column;
  /* Alterando a direção do flex container para vertical */
  align-items: center;
  /* Centralizando itens horizontalmente */
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #212121;
  height: 100px;
  /* Alterando altura para ajustar automaticamente ao conteúdo */
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  /* Alterando a direção do flex container para horizontal */
  align-items: center;
  /* Centralizando itens horizontalmente */
  justify-content: space-around;
  /* Distribuindo o espaço entre os itens */
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.nav-list li {
  letter-spacing: 3px;
  margin: 0 70px;
  color: #383eab;
  font-size: 130%;
}

.nav-list li a {
  color: rgb(206, 109, 12);
}

.mobile-menu {
  display: none;
  cursor: pointer;
  position: fixed;
  /* Posicionando o menu móvel de forma fixa */
  top: 20px;
  /* Ajustando a distância do topo */
  right: 20px;
  /* Ajustando a distância da direita */
  color: #d2530ae3;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
  z-index: 2;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #212121;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-right: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* aqui ja é os card */
.card-container {
  display: flex;
  flex-wrap: wrap;
  /* Permite que os cards quebrem para a próxima linha */
  gap: 50px;
  /* Espaço entre os cards */
  max-width: 1150px;
  margin: 60px auto;
  padding: 0 20;
  justify-content: center;

}

.card {
  width: 300px;
  height: 325px;
  background: #e8e8e8;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: #212121;
  border: 2px solid #4e35b4;
  transition: all .5s ease;
  z-index: 3;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.image {
  width: 300px;
  height: 148px;
}

.card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
  gap: 3px;
  align-items: center;
  z-index: 3;
}

.page {
  font-size: 13px;
  font-weight: 100;
  margin-left: auto;
  color: #ffffff;

}

.title {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  color: rgb(255, 255, 255);
  margin-right: auto;
  margin-top: 15%;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  /* Cor de fundo para destacar o conteúdo */
  padding: 10px;
}

.card:hover {
  box-shadow: 5px 5px 10px 0px #ab4b3866;
}

.card:hover .icons {
  z-index: 1;
  opacity: 1;
}

.card:hover .image {
  filter: brightness(.8);
}

.card:hover .title {
  color: #383eab;
}